/* ===== Home ===== */
.home {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-column-gap: 4em;
    grid-row-gap: 2em;
}

.top-line-btn-first {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.top-line-btn-last {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.bottom-line-btn {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    margin: auto;
}

/* ===== HomeButton ===== */
.home-btn {
    /*
    border: 1px solid black;
    padding: 2em;
    width: 10em;
    background-color: rgb(252, 250, 250);
    margin: auto;
    text-align: center;
    color: inherit;
    text-decoration: inherit;*/
}
.home-btn {
    max-width: 5em;
}
.pl-1 {
    padding-right: 1em;
}
